.button{
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border-radius: 4px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  padding: 16px 40px;
	box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.3);
	transition: all 0.3 ease 0s;
}

.button:hover{
  background: #f72905;
}
.button:active{
  background: #f72905;
	transform: translate(2px,2px);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.title {
  font-weight: 900;
  font-size: 46px;
  line-height: 1.3;

}

.subtitle {
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #1E212C;
}
.forms__label--text {
  display: block;
  color: #424551;
  line-height: 1.6;
  padding: 3px 0;
  margin-bottom: 8px;

}
.forms__input {
  padding: 0 16px;
  min-height: 52px;
  border-radius: 4px;
  border: 1px solid #D7DADD;

}
.forms__message {
  padding: 13px 16px;
  border: 1px solid #D7DADD;
  border-radius: 4px;
  resize: vertical;
  min-height: 128px;
  max-height: 200px;
  width: 100%;

}
.forms__input,
.forms__message::placeholder{
  color: #9A9CA5;
  line-height: 1.6;

}

.forms__input:focus,
.forms__message:focus{
  outline: 2px solid #D7DADD;

}
